<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{yy-MM-dd HH:mm:ss.SSS} %-5level[%thread %logger{0}.%M:%L]%marker %msg%n</pattern>
      <outputPatternAsHeader>true</outputPatternAsHeader>
      <immediateFlush>true</immediateFlush>
    </encoder>
  </appender>
  
  <root level="ERROR">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>